.header {
  padding-top: 20px;
  padding-bottom: 30px;
  @include tablet {
    padding-bottom: 36px;
  }
  @include laptop {
    padding-bottom: 55px;
  }
  @include desktop {
    padding-bottom: 41px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

}
