//Конопка меню
.menu-btn {
  font-size: 0;
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  align-items: center;
  gap: 3px;
  z-index: 9999;

  @include laptop {
    display: none;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background-color: $white;
    transition: transform .24s ease-in-out, top .24s ease-in-out;
  }

  &:before {
    width: 100%;
    top: 6px;
  }

  &:after {
    width: 100%;
    top: calc(100% - 8px);
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white;
    opacity: 1;
    transition: transform .24s ease-in-out;
  }

}

.menu-btn_active > .menu-btn__line {
  opacity: 0;
}

.menu-btn_active:before {
  transform: translateY(4px) rotate(45deg);
  background-color: $mainDark;
}

.menu-btn_active:after {
  width: 100%;
  background-color: $mainDark;
  transform: translateY(-7px) rotate(-45deg);
}

//Меню, элементы списка меню
.nav {

  @include laptop {
    display: block;
    position: relative;
    background-color: transparent;
  }
  &_header {
    display: block;
    position: absolute;
    top: -250px;
    left: 0;
    right: 0;
    background-color: $white;
    min-width: 320px;
    transition: top 0.2s;
    border-image: linear-gradient(87.4deg, #2E00B1 -11.74%, #8100BD 48.81%, #A400BE 113.27%) 30;
    border-width: 0 0 2px 0;
    border-style: solid;
    &_active {
      top: 0;
      z-index: 3;
    }
    @include laptop {
      display: block;
      position: relative;
      background-color: transparent;
      top: 0;
      border: none;
    }
  }

}
.nav-list {
  display: flex;
  &_header {
    padding: 94px 15px 36px;
    max-width: 320px;
    flex-direction: column;
    row-gap: 20px;
    font-family: Nunito, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
    @include tablet {
      padding-top: 94px;
      padding-left: 94px;
      padding-bottom: 36px;
      max-width: 768px;
    }
    @include laptop {
      padding: 0;
      max-width: none;
      flex-direction: row;
      column-gap: 40px;
    }
  }
  &_footer {
    flex-direction: column;
    row-gap: 15px;
    @include laptop {
      padding-top: 7px;
      padding-left: 20px;
      row-gap: 14px;
    }
    @include desktop {
      padding-left: 40px;
      padding-top: 7px;
      row-gap: 14px;
    }
  }

  &__link {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $white;
      height: 1px;
      width: 0;
      transition: width .2s ease-in-out;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $white;
      height: 1px;
      width: 0;
      transition: width .2s ease-in-out;
    }


    &:hover {
      @media (hover: hover) and (pointer: fine) {
        &::after {
          width: 50%;
        }
        &::before {
          width: 50%;
        }
      }
    }

    @include laptop {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: $white;
    }
    &_normal {
      font-weight: 400;
      font-size: 14px;
      @include tablet {
        font-size: 18px;
      }
    }
  }
}
.footer__link_custom{
  transition: color 0.1s ease-in-out;
  &:hover {
    @media (hover: hover) and (pointer: fine) {
     color: $palePink;
    }
  }
}
