<section class="section advantages" id="profit">
  <div class="container">
    <h2 class="section-title advantages__title">
      Почему с нами выгодно?
    </h2>
    <ul class="advantages__list">
      <li class="advantage advantages__item advantages__item_stat">
        <h3 class="advantage__title">
          Статистика
        </h3>
        <p class="advantage__desc">
          можно быстро отследить статистику доходов и расходов
        </p>
      </li>
      <li class="advantage advantages__item advantages__item_reliability">
        <h3 class="advantage__title">
          Надёжность
        </h3>
        <p class="advantage__desc">
          с нами ваши счета в безопасности
        </p>
      </li>
      <li class="advantage advantages__item advantages__item_change">
        <h3 class="advantage__title">
          Обмен валюты
        </h3>
        <p class="advantage__desc">
          обмен валюты по самому выгодному курсу
        </p>
      </li>
      <li class="advantage advantages__item advantages__item_comfort">
        <h3 class="advantage__title">
          Удобство
        </h3>
        <p class="advantage__desc">
          удобная платформа для отслежки счётов
        </p>
      </li>
    </ul>
  </div>
</section>
