<section class="section banner-section" id="banner">
  <div class="container">
    <div class="banner-section__content">
      <p class="section-title banner-section__title">
        Платформа C-Money
      </p>
      <h1 class="description-text banner-section__description-text">
        Удобная платформа для хранения счётов, перевода валюты и покупки криптовалюты
      </h1>
      <a href="#reg" class="btn_color reg-btn banner-section__btn">Зарегистрироваться</a>
    </div>
  </div>
</section>
