<footer class="footer">
 <div class="container">
  <div class="footer__wrapper">
   <a href="#" class="logo footer__logo">
    <img class="logo-image logo-image_footer" src="img/logo-white.svg" alt="Логотип компании C-money" width="141" height="38">
   </a>
   <ul class="nav-list nav-list_footer">
    <li class="nav-list__item">
     <a href="#" class="nav-list__link nav-list__link_normal">
      О компании
     </a>
    </li>
    <li class="nav-list__item">
     <a href="#review" class="nav-list__link nav-list__link_normal">
      Отзывы
     </a>
    </li>
    <li class="nav-list__item">
     <a href="#reg" class="nav-list__link nav-list__link_normal">
      Регистрация
     </a>
    </li>
    <li class="nav-list__item">
     <a href="#profit" class="nav-list__link nav-list__link_normal">
      Почему с нами выгодно?
     </a>
    </li>
   </ul>
   <div class="footer__contacts">
    <p class="footer__contacts-title">Контакты:</p>

    <address class="footer__address">
     <a href="tel:+79213474997" class="footer__tel footer__link_custom">+7 921 347-49-97</a>
     <a href="mailto:C-Money@gmail.com" class="footer__mail footer__link_custom">C-Money@gmail.com</a>
     <p class="footer__location">
      г. Москва ул.&nbsp;Новослободская 120/2 54
     </p>

     <ul class="footer__media">
      <li class="footer__social">
       <a href="https://telegram.org" class="footer__icon-link" target="_blank">
         <svg class="icon footer__icon telegram-icon" width="24" height="24">
          <use xlink:href="img/sprite.svg#telegram-icon"></use>
         </svg>
       </a>
      </li>

      <li class="footer__social">
       <a href="https://telegram.org" class="footer__icon-link" target="_blank">
        <svg class="icon footer__icon twitter-icon" width="24" height="24">
         <use xlink:href="img/sprite.svg#twitter-icon"></use>
        </svg>
       </a>
      </li>
     </ul>
    </address>
   </div>
   <div id="map" class="footer__map"></div>
   <p class="footer__copyrights">
    © C-Money, 2022
   </p>
  </div>

 </div>
</footer>
