<section class="section-custom registration" id="reg">
  <div class="container">
    <h2 class="section-title registration__title">
      Как зарегистрироваться на платформе
    </h2>
    <p class="registration__subtitle">
      Пошагово заполните все поля формы
    </p>
    <div class="registration__button-group">
      <button class="btn registration__button" data-page="1">1</button>
      <button class="btn registration__button" data-page="2" disabled>2</button>
      <button class="btn registration__button" data-page="3" disabled>3</button>
    </div>
    <form action="javascript:void(0)" class="registration__form">
      <fieldset class="registration__fieldset registration__fieldset_active" data-tab="1">
        <label class="registration__label">
          <span class="registration__field-title">Имя</span>
          <input type="text" name="first-name" class="registration__input">
        </label>

        <label class="registration__label">
          <span class="registration__field-title">Фамилия</span>
          <input type="text" name="last-name" class="registration__input">
        </label>

        <label class="registration__label">
          <span class="registration__field-title">Отчество</span>
          <input type="text" name="middle-name" class="registration__input">
        </label>

        <button type="button" class="registration__next-button btn btn_color" disabled>Далее</button>
      </fieldset>

      <fieldset class="registration__fieldset registration__fieldset_small" data-tab="2">
        <label class="registration__label">
          <span class="registration__field-title">Телефон</span>
          <input type="tel" name="phone-number" class="registration__input">
        </label>

        <label class="registration__label">
          <span class="registration__field-title">Электронная почта</span>
          <input type="text" name="email" class="registration__input">
        </label>

        <button type="button" class="registration__next-button registration__next-button_no-margin btn btn_color" disabled>Далее</button>
      </fieldset>

      <fieldset class="registration__fieldset" data-tab="3">
        <label class="registration__label">
          <span class="registration__field-title">Придумайте логин</span>
          <input type="text" name="login" class="registration__input">
        </label>

        <label class="registration__label">
          <span class="registration__field-title">Придумайте пароль</span>
          <input type="password" name="password" class="registration__input">
        </label>

        <label class="registration__label">
          <span class="registration__field-title">Повторите пароль</span>
          <input type="password" name="repeat-password" class="registration__input">
        </label>

        <button type="submit" class="registration__submit-button btn btn_color" disabled>Зарегистрироваться</button>
      </fieldset>
    </form>
    <div class="registration__success">
      <div class="registration__success-title">Вы успешно зарегистрировались на платформе C-Money!</div>
      <p class="registration__note">
        Ссылка для входа в личный кабинет отправлена на вашу электронную почту (не забудьте проверить папку «Спам»)
      </p>
    </div>
  </div>
</section>
