<section class="section reviews" id="review">
  <div class="container">
    <h2 class="section-title reviews__title">
      Отзывы наших клиентов
    </h2>
    <div class="reviews__swiper">
      <div class="swiper-button swiper-button_prev"></div>
      <div class="swiper swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/user-avatar_01.png" alt="Юлия С." class="reviews__image">
            <p class="reviews__name">Юлия С</p>
            <p class="reviews__comment">
              «Очень удобная платформа для открытия мультивалютных счётов»
            </p>
          </div>

          <div class="swiper-slide">
            <img src="img/user-avatar_02.png" alt="Светлана Н" class="reviews__image">
            <p class="reviews__name">Светлана Н</p>
            <p class="reviews__comment">
              «Пользуюсь платформой уже больше года, нравится, что можно быстро менять валюту по выгодному курсу»
            </p>
          </div>

          <div class="swiper-slide">
            <img src="img/user-avatar_03.png" alt="Сергей А." class="reviews__image">
            <p class="reviews__name">Сергей А</p>
            <p class="reviews__comment">
              «Открыл счёт в биткоинах, могу быстро следить за курсом и делать обмен»
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-button swiper-button_next"></div>
    </div>
  </div>
</section>
