//default colours
$black: #000;
$white: #FFF;

//layout colours
$mainDark: #210B36;
$lightPink: #B865D6;
$palePink: #B865D6;
$lightBg: #EEE2FA;
$lightPurple: #C6B6D7;
$purple: #6E479E;
$gray: #B0B0B0;
$linearGradient: 87deg, #2E00B1 -11.74%, #8100BD 48.81%, #A400BE 113.27%;
